Django==1.9.9
django-grappelli
django-filebrowser
djangorestframework
django-extensions
psycopg2
cryptography
numpy
scipy
imagehash
delorean
pytest
pytest-cov
pytest-django==2.9.1
pytest-xdist
StringGenerator
requests
phonenumbers
Pillow
pathlib2
lxml
cssselect
pyquery
celery
librabbitmq
geopy
foursquare
redis
django-redis
pyproj
ipython
