<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>PlaceKoob Custom Admin</h1>
    <ul>
        <li>
            {% if user.is_authenticated %}
                User Login Complete : {{ user.username }} ({{ user.email }})
            {% else %}
                <a href="/admin/login/?next=/admin2/">User Login Required</a>
            {% endif %}
        </li>
        <li>
            {% if vd and vd.id %}
                VirtualDevice Login Complete : {{ vd.deviceName }} ({{ vd.deviceTypeName }})
            {% else %}
                <a href="/vds/login/">VirtualDevice Login Required</a>
            {% endif %}

        </li>
        <li>----------------------------------------------------------------------</li>
            {% if vd and vd.id %}
            <li>
                    <a href="/admin2/mapping/">장소화</a>
            </li>
            {% endif %}
    </ul>
</body>
</html>