{% extends 'admin2/base.html' %}

{% block header_text %}PlaceKoob Custom Admin - Mapping Detail{% endblock %}

{% block table %}
    <table class="table">
        <tr>
            <td>
                도로명주소: {{ userPost.addr1 }}<br />
                지번 주소 : {{ userPost.addr2 }}<br />
                범위 주소 : {{ userPost.addr3 }}<br />
            </td>
            <td>
                {% for image in userPost.images %}
                    <a href="{{ image.content }}" target="_blank">
                        <img src="{{ image.url_summarized }}" />
                    </a>
                {% endfor %}
            </td>
            <td>
                {% for url in userPost.urls %}
                    <a href="{{ url.content }}" target="_blank">{{ url.content }}</a>
                {% endfor %}
            </td>
            <td>
                {% for note in userPost.notes %}
                    <a href='http://www.google.co.kr/?gws_rd=ssl#q="{{ note.content }}"' target="_blank">{{ note.content }}</a>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                도로명주소: {{ placePost.addr1 }}<br />
                지번 주소 : {{ placePost.addr2 }}<br />
                범위 주소 : {{ placePost.addr3 }}<br />
            </td>
            <td>
                이름 : {{ placePost.name }}
            </td>
            <td>
                {% for url in userPost.urls %}
                    <a href="{{ url.content }}" target="_blank">{{ url.content }}</a>
                {% endfor %}
            </td>
            <td>
                전화번호 : {{ placePost.phone }}
            </td>
        </tr>
    </table>
    <table class="table">
        <tr>
        <tr>
            <td>
                <div class="jumbotron">
                    <input type="text" id="id_url" name="url" class="form-control input-lg"/>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
