{% extends 'admin2/base.html' %}

{% block header_text %}PlaceKoob Custom Admin - Places{% endblock %}

{% block table %}
    {% if pbs %}
        <table class="table">
            {% for pb in pbs %}
                <tr>
                    <td>
                        <input type=checkbox onClick="window.open('{{ pb.uplace_uuid }}/'); return true;"/>
                    </td>
                    <td>
                        {% for point in pb.points %}
                            <a href="http://map.naver.com/?dlevel=13&x={{ point.lonLat.x }}&y={{ point.lonLat.y }}" target="_blank">
                                ({{ point.lonLat.y }}, {{ point.lonLat.x }})
                            </a><br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for name in pb.names %}
                            {{ name }}<br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for image in pb.images %}
                            <a href="{{ image.content }}" target="_blank">
                                <img src="{{ image.url_summarized }}"/>
                            </a><br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for url in pb.urls %}
                            <a href="{{ url.content }}" target="_blank">{{ url.content }}</a><br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for note in pb.notes %}
                            <a href='http://www.google.co.kr/?gws_rd=ssl#q="{{ note.content_for_search }}"' target="_blank">{{ note.content }}</a><br/>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        장소화된 장소가 없습니다
    {% endif %}
{% endblock %}
