{% extends 'admin2/base.html' %}

{% block header_text %}PlaceKoob Custom Admin - Placed Detail{% endblock %}

{% block table %}
    <table class="table">
        <tr>
        <tr>
            <td>
                <div class="jumbotron">
                    URL : <input type="text" id="id_url" name="url" class="form-control input-lg"/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="jumbotron">
                    Places : <textarea id="id_places" name="places" class="form-control textarea"></textarea>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="jumbotron">
                    <input type="submit" class="form-control input-lg"/>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
