{% extends 'ui/base.html' %}

{% block header_text %}PhotoDiary List{% endblock %}

{% block table %}
    <table class="table">
        <tr>
            <td>
                <h2>내꺼</h2>
                <table>
                    {% for uplace in uplaces %}
                        {% if uplace.userPost.images %}
                        <tr>
                            <td> &nbsp; </td>
                            <td>
                                <a href="{{ uplace.uuid }}/paste/">[수정]</a>
                            </td>
                            <td> &nbsp; </td>
                            <td>
                                <a href="{{ uplace.aid }}/">{{ uplace.placePost.name }}</a>
                            </td>
                            <td> &nbsp; </td>
                            <td>
                                {% for image in uplace.userPost.images %}
                                    <img class="img-thumbnail" alt="height:60px" src="{{ image.url_summarized }}" data-holder-rendered="true" style="height: 60px;">
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                <h3><a href="init/">[새로 만들기]</a></h3>
            </td>
        </tr>
        <tr>
            <td>
                <h2>본거</h2>
                <table>
                    {% for uplace in history %}
                        {% if uplace.userPost.images %}
                        <tr>
                            <td> &nbsp; </td>
                            <td>
                                <a href="{{ uplace.aid }}/">{{ uplace.placePost.name }}</a>
                            </td>
                            <td> &nbsp; </td>
                            <td>
                                {% for image in uplace.userPost.images %}
                                    <img class="img-thumbnail" alt="height:60px" src="{{ image.url_summarized }}" data-holder-rendered="true" style="height: 60px;">
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            {% if vd.realOwner %}
            <td>
                <div class="jumbotron">
                    {{ vd.realOwner.email }} 에 연결되어 있습니다. 변경도 가능합니다.
                    <h3><a href="register_email/">[이메일 변경하기]</a></h3>
                </div>
            </td>
            {% else %}
            <td>
                <div class="jumbotron">
                    계속 보관하고 싶다면? 다른 곳에서도 보고 싶다면? 이메일을 연결하세요~
                    <h3><a href="register_email/">[이메일 연결하기]</a></h3>
                </div>
            </td>
            {% endif %}
        </tr>
    </table>
{% endblock %}
