{% extends 'ui/base.html' %}

{% block header_text %}PhotoDiary List{% endblock %}

{% block table %}
    <table class="table">
        <tr>
            <td>
                <div class="jumbotron">
                    <h2>내꺼</h2>
                    <table>
                        {% for uplace in uplaces %}
                            {% if uplace.userPost.images %}
                            <tr>
                                <td> &nbsp; </td>
                                <td>
                                    {{ uplace.placePost.name }}
                                </td>
                                <td> &nbsp; </td>
                                <td>
                                    {% for image in uplace.userPost.images %}
                                        <img class="img-thumbnail" alt="height:60px" src="{{ image.url_summarized }}" data-holder-rendered="true" style="height: 60px;">
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                    <h3><a href="init/">[새로 만들기]</a></h3>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="jumbotron">
                    본거
                    <ul>
                        <li>요케</li>
                        <li>요케요케</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
