{% extends 'ui/base.html' %}

{% block header_text %}PhotoDiary List{% endblock %}

{% block table %}
    <table class="table">
        <tr>
            <td>
                <div class="jumbotron">
                    내꺼
                    <ul>
                        <li>요케</li>
                        <li>요케요케</li>
                    </ul>
                    <a href="init/">[새로 만들기]</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="jumbotron">
                    본거
                    <ul>
                        <li>요케</li>
                        <li>요케요케</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
