{% extends 'ui/base.html' %}

{% block header_text %}Paste Stickers{% endblock %}

{% block table %}
    {% if uplace.userPost %}
    <table class="table">
        <tr>
            <td>
                <div class="jumbotron">
                    {% if uplace.wrapping_shorten_url %}
                        공유용 단축 URL : <a href="{{ uplace.wrapping_shorten_url }}">{{ uplace.wrapping_shorten_url }}</a>
                    {% else %}
                        <a href="../make_shorten_url/">단축 URL 발급</a>
                    {% endif %}
                </div>
            </td>
            <td>
                <div class="jumbotron">
                    {% if uplace.is_bounded %}
                        공유용 사진/노트 선택된 임시 사본
                    {% else %}
                        <a href="../temp/">편집 사본을 만들어 공유 (for 사진 일부만 공유)</a>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% if uplace.userPost.images %}
        <tr>
            <td>
                {% for image in uplace.userPost.images %}
                    <a href="{{ image.url_for_access }}" target="_blank"><img src="{{ image.url_summarized }}"/></a>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if uplace.userPost.notes %}
        <tr>
            <td>
                <ul>
                    {% for note in uplace.userPost.notes %}
                    <li>
                        <a href='http://www.google.co.kr/?gws_rd=ssl#q="{{ note.content_for_search }}"' target="_blank">{{ note.content }}</a><br/>
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
        {% if uplace.placePost %}
        <tr>
            <td>
                <ul>
                    <li>
                        {{ uplace.placePost.name }}
                    </li>
                    <li>
                        {{ uplace.placePost.addr1 }}
                    </li>
                </ul>
            </td>
        </tr>
        {% endif %}
    </table>
    {% endif %}
    <table class="table">
        <tr>
            <td>
                <div class="jumbotron">
                    사진 스티커 : <input type="file" id="id_file" name="file" class="form-control input-lg"/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="jumbotron">
                    메모 스티커 : <input type="text" id="id_note" name="note" class="form-control input-lg"/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="jumbotron">
                    장소 스티커 : <input type="text" id="id_lp" name="lp" class="form-control input-lg"/>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="jumbotron">
                    <input type="submit" class="form-control input-lg"/>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
