{% extends 'ui/base.html' %}

{% block header_text %}포토박스 리스트{% endblock %}

{% block table %}
    <table class="table">
        <tr>
            <td>
                <div class="jumbotron">
                    내꺼
                    <ul>
                        <li>요기</li>
                        <li>조기</li>
                    </ul>
                    <a href="make/">[새로 만들기]</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="jumbotron">
                    본거
                    <ul>
                        <li>요기</li>
                        <li>조기</li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
